@use "../../style/index.scss" as *;

.body {
  @include displayFlex(0, no-wrap, column);
  height: 100vh;
}

.header {
  border-bottom: calc($size-1 / 6) solid $gray-12;
  position: sticky;
  top: 0;
  background-color: $gray-0;

  &_container {
    @include jelloDisplay(1200px, $fontKarla, $size-fluid-2, $size-1);
    @include displayFlex($size-1, wrap, row, center, space-between);

    &_date {
      font-size: $size-fluid-1;
    }

    & a {
      @include resetLink($gray-12);
      @include transitionAll($duration-pri);

      &:where(:hover, :focus) {
        box-shadow: inset 0px -2px 0px 0px;
      }
    }
  }
}

.footer {
  background-color: $gray-12;
  color: $gray-0;
  margin-top: auto;

  &_container {
    @include jelloDisplay(1200px, $fontKarla, $size-1, $size-1);
    text-align: center;
  }
}
